{{!< default}}

<div class="errorbackground">
  <div class="errormessage">
  <h1>ERROR 404</h1>
  <h3>PAGE NOT FOUND</h3>
  <a href="/" class="navbar-link">GO BACK TO THE HOMEPAGE →</a>
  <h2>{{message}}</h2>
  <h4>{{error.status}}</h4>
  <p>{{error.stack}}</p>
</div>
</div>
