<div class="paper">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
<h1 class="title">Frequently Asked Questions</h1>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who is behind this?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      ​​​​<p class="cookiepage">Adam and Tyler grew up together in Texas, entered West Point together in 2000, and, since their own transitions, haven't stopped wondering why there can't be a better way to help our nation's warfighters make smarter career transition decisions. Adam conceived the idea of a transparency platform, and the name "Vet It" naturally followed. Adam hustles and Tyler hacks for the project, generally in that order, but interchangeably when needed. Have feedback? We'd love to hear it!</p>
      <a href="/feedback" type="button" class="btn btn-primary">Feedback</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What are you doing with the information you gather?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      ​​​​<p class="cookiepage">As we gather data, we identify recruiting and retention trends, and then share those trends in ways we hope are highly valuable to military servicemembers and veterans as they make career decisions.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why are you taking this approach?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      ​​​​<p class="cookiepage">Like many other veterans, we like to take control of suboptimal situations.  We are routinely reassured that the tangled mess of veteran transition services and supporting organizations meet our criteria for "suboptimal." Specifically, while skill cross-walks, resume writing services, and networking events may help veterans find a match, we're convinced they are less than effective in helping veterans find the match that results in the best fit for them and their families. Every matchmaker we've identified is so busy worrying about veterans' technical fit - "Are they qualified?" - they fail to worry sufficiently about the company and ed program's strategic and cultural fit - "Will they love it?" We think this happens for a number of reasons, but misaligned incentives, principal-agent problems, information asymmetry, and poor due-diligence are among the biggest culprits. We think we owe our nation's warfighters a better alternative and have set out to make it happen. The solution to gather structured insights directly from military servicemembers and veterans themselves naturally followed.  Afterall, if thousands of Soldiers, Sailors, Airmen, Marines, and Coasties transition every month, why should the service men and women following them who have similar backgrounds and interests have to negotiate the same mazes with the same poor, fragmented bits of information?</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Why companies?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      ​​​​<p class="cookiepage">Most companies recognize the value of hiring veterans; however, the only ratings and reviews for those companies come either from civilians who don't understand the unique perspectives and career needs of veterans, or from second-hand parties who are marketing to veterans. Furthermore, just because a company hires veterans and has an onboarding program doesn't mean it provides a great fit for veterans. And, believe it or not, some companies even sign up for veteran oriented initiatives purely for their own PR and branding efforts.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Why educational programs?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      ​​​​<p class="cookiepage">Ed programs are just as difficult to navigate as companies. Graduate programs. 4 year programs. 2 year programs. Certificate and training programs. "Bridge" programs. Which one is actually the right fit for what you want to do, where you want to do it? How is a "brick and mortar" program different from an on-line program? What is a school's culture like? How much will my DoD Tuition, GI Bill, and Yellow Ribbon benefits actually cover?</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Why salaries?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      ​​​​<p class="cookiepage">In the thousands of interviews we've conducted we've learned that military servicemembers and veterans are terribly misinformed when it comes to their civilian salary expectations. "I'd like to make x amount of money," is one of the first things transitioning servicemembers may say to a career counselor - which usually is the same or close to what they made while in the service. The truth is that, once they transition, many veterans will make well below what they were expecting. Furthermore, military servicemembers and veterans tend to mis-value other compensation features they enjoy while serving, such as insurance and retirement plans.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Why interviews?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      ​​​​<p class="cookiepage">The whole platform's theme borders on the same philiosophical underpinnings as the After Action Review. By collectively sharing what we learn, we get a better understanding of the bigger picture and how we can improve our odds of taking the obective. In our minds, interviews represent the culmination of a carefully thought out plan. They either result in a job offer or they don't. Either way, we can learn the most from each other by understanding where we are interviewing, why we are interviewing there, what the interview was like, and whether or not we were seen as qualified for that particular position by the hiring authority.</p>
    </div>
  </div>
</div>
</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
  <div class="container">
    <p class="navbar-text"><a href="/FAQ" class="navbar-link">FAQ<a/></p>
    <p class="navbar-text"><a href="/Feedback" class="navbar-link">FEEDBACK<a/></p>
    <p class="navbar-text"><a href="/TermsOfUse" class="navbar-link">TERMS OF USE<a/></p>
    <p class="navbar-text"><a href="/CookiePolicy" class="navbar-link">COOKIE POLICY<a/></p>
    <a href="/register" type="button" class="btn btn-info navbar-right">Register</a>
  </div>
</nav>
