<div class="paper">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div>
      	<br>
      	<br>
      	<br>
            <h1 class="title">Thank you for verifying your account.</h1>
  			<a href="/login" type="button" class="btn btn-primary">Return to Login</a>
      </div>
  </div>
</div>
