<div class="paper">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div>
      	<br>
      	<br>
      	<br>
            <h1 class="title">Verification Completed. Thank you for verifying the claim.</h1>
  			<a href="/dashboard" type="button" class="btn btn-primary">Return to Dashboard</a>
      </div>
  </div>
</div>
