<h1>My Interests</h1>
<form role="form" method="POST">
	<div class="form-group">
		Companies I'm Interested In:
		<div class="input_fields_wrap_companiesInterested">
			<div><input type="text" name="companiesInterested"></div>
		</div>
		<button class="add_field_button_companiesInterested">+Add More</button>
	</div>
	<div class="form-group">
		Educational Programs I'm Interested In:
		<div class="input_fields_wrap_eduInterested">
			<div><input type="text" name="eduInterested"></div>
		</div>
		<button class="add_field_button_eduInterested">+Add More</button>
	</div>
	<div class="form-group">
		Functions I'm Interested In:
		<div class="input_fields_wrap_functions">
			<div>
				<select id="functions" name="functions">
    			<option value=''>----Please Select a Function----</option>			
				</select>
			</div>
		</div>
		<button class="add_field_button_functions">+Add More</button>
	</div>
	<a class="btn btn-default" href="/editProfile">Cancel</a>
	<button type="submit" class="btn btn-default">Complete Changes</button>
</form>