<h1>My Companies, Education, and Interviews</h1>
<form role="form" method="POST">
	<div class="form-group">
		Companies Worked For:
		<div class="input_fields_wrap_companiesWorked" id='companiesWorked'>
			<div><input type="text" name="companiesWorked"></div>
		</div>
		<button class="add_field_button_companiesWorked">+Add More</button>
	</div>
	<br>
	<div class="form-group">
		Companies Interviewed For (Exclude those worked for):
		<div class="input_fields_wrap_companiesInterviewed">
			<div><input type="text" name="companiesInterviewed"></div>
		</div>
		<button class="add_field_button_companiesInterviewed">+Add More</button>
	</div>
	<br>
	<div class="form-group">
		Education Programs Attended:
		<div class="input_fields_wrap_eduAttended">
			<div><input type="text" name="eduAttended"></div>
		</div>
		<button class="add_field_button_eduAttended">+Add More</button>
	</div>

	<br>
	<div class="form-group">
		Education Programs Interviewed For (Exclude those worked for):
		<div class="input_fields_wrap_eduInterviewed">
			<div><input type="text" name="eduInterviewed"></div>
		</div>
		<button class="add_field_button_eduInterviewed">+Add More</button>
	</div>
	<a class="btn btn-default" href="/editProfile">Cancel</a>
	<button type="submit" class="btn btn-default">Complete Changes</button>
</form>
